##  Обзор данных

Составим первое представление об исходных данных.

In [1]:
# импорт библиотеки pandas 
import pandas as pd
# чтение файла с данными и сохранение в data
data = pd.read_csv('data.csv')

Выведем первые 20 строчек датафрейма `data` на экран.

In [2]:
# получение первых 20 строк таблицы data
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

Выведем основную информацию о датафрейме с помощью метода `info()`.

In [3]:
# получение общей информации о данных в таблице data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

Итак, в таблице 12 столбцов. У двух столбцов тип данных `float64`, у пяти - `int64` и у оставшихся пяти - `object`.

Согласно документации к данным:
* `children` — количество детей в семье
* `days_employed` — общий трудовой стаж в днях
* `dob_years` — возраст клиента в годах
* `education` — уровень образования клиента
* `education_id` — идентификатор уровня образования
* `family_status` — семейное положение
* `family_status_id` — идентификатор семейного положения
* `gender` — пол клиента
* `income_type` — тип занятости
* `debt` — имел ли задолженность по возврату кредитов
* `total_income` — ежемесячный доход
* `purpose` — цель получения кредита

Количество значений в столбцах различается. Значит, в данных есть пропущенные значения.

## Предобработка данных

### Удаление пропусков

Выведем количество пропущенных значений для каждого столбца.

In [4]:
# подсчёт пропусков
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Таким же образом заполним пропуски в столбце `days_employed`.

In [5]:
# заполнение пропусков в столбце 'total_income' медианным значением по каждому типу из столбца `income_type`
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

In [6]:
# заполнение пропусков в столбце 'days_employed' медианным значением по каждому типу из столбца `income_type`
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

Убедимся в том, что все пропуски заполнены. Проверим себя и ещё раз выведем количество пропущенных значений для каждого столбца.

In [7]:
# подсчёт пропусков
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

Все пропуски удалены, можно приступить к обработке аномальных значений.

### Обработка аномальных значений

В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Обработаем значения в этом столбце: заменим все отрицательные значения положительными с помощью метода `abs()`.

In [8]:
# замена отрицательных значений в столбце 'days_employed' положительными
data['days_employed'] = data['days_employed'].abs()

Для каждого типа занятости выведем медианное значение трудового стажа `days_employed` в днях.

In [9]:
# определение медианного значения трудового стажа days_employed в днях для каждого типа занятости
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получаются аномально большие значения. Исправить такие значения сложно, поэтому оставим их как есть, так как этот столбец не понадобится нам для исследования.

Выведем перечень уникальных значений столбца `children`.

In [10]:
# просмотр уникальных значений в столбце 'children'
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

В столбце `children` есть два аномальных значения. Удалим строки, в которых встречаются такие аномальные значения из датафрейма `data`.

In [11]:
# удаление строк с аномальными значениями из датафрейма
data = data[(data['children'] != -1) & (data['children'] != 20)]

Ещё раз выведем перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.

In [12]:
# просмотр уникальных значений в столбце 'children'
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

Все артефакты обработаны, можно приступить к изменению типов данных, необходимых для исследования.

### Изменение типов данных

Заменим вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.

In [13]:
# замена вещественного типа данных в столбце total_income на целочисленный 
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

Обработаем неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведем их к нижнему регистру.

In [14]:
# приведение всех значений в столбце 'education' к нижнему регистру
data['education'] = data['education'].str.lower()

Выведем на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалим их.

In [15]:
# определение количества дубликатов
data.duplicated().sum()

71

In [16]:
# удаление дубликатов
data = data.drop_duplicates()

Убедимся в том, что все дубликаты удалены, выведем еще раз на экран количество строк-дубликатов.

In [17]:
# определение количества дубликатов
data.duplicated().sum()

0

Все дубликаты удалены, можем переходить к категоризации данных.

### Категоризация данных

На основании диапазонов, указанных ниже, создадим в датафрейме `data` столбец `total_income_category` с категориями:

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.

In [18]:
# создание функции для определения категории значений в столбце 'total_income'
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [19]:
# создание нового столбца в датафрейме с категориями 'total_income'
data['total_income_category'] = data['total_income'].apply(categorize_income)

Выведем на экран перечень уникальных целей взятия кредита из столбца `purpose`.

In [20]:
# просмотр уникальных значений в столбце 'purpose'
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

Создадим функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

In [21]:
# создание функции для определения категории значений в столбце 'purpose'
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [22]:
# создание нового столбца в датафрейме с категориями 'purpose'
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## Анализ данных

Для того, чтобы понимать влияет ли семейное положение, количество детей клиента или иные факторы на погашение кредита в срок, создадим формулу, в которой определим отношение задолженности к общему количеству кредитов сгруппировав клиентов по этим факторам.

In [23]:
# создадим формулу для определения отношения задолженности к общему количеству кредитов клиентов, сгруппированных по необходимым критериям
def category_grouped(data, category, debt):
    category_grouped = data.groupby(category).agg({debt:['count', 'sum']})
    category_grouped['debt_share'] = category_grouped[debt]['sum'] / category_grouped[debt]['count'] * 100
    return category_grouped

### Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [24]:
# применим функцию category_grouped, сгруппировав клиентов по количеству детей
category_grouped(data, 'children', 'debt')

           debt       debt_share
          count   sum
children
0         14091  1063   7.543822
1          4808   444   9.234609
2          2052   194   9.454191
3           330    27   8.181818
4            41     4   9.756098
5             9     0   0.000000

**Вывод:** 
   
   В получившейся таблице мы видим, что из 100 клиентов с тремя детьми - каждый восьмой не возвращает кредит в срок, из клиентов с одним или двумя детьми - каждый девятый, а из клиентов с четырьмя детьми - каждый десятый имел задолженность по возврату кредитов. Клиентов с пятью детьми так мало, что их доля кредитов составляет меньше 1%, поэтому эту категорию клиентов мы не учитываем в выводе.

   Таким образом, мы можем сделать вывод о том, что наибольшая вероятность возврата кредита в срок у клиентов банка без детей, но в целом прямой значительной зависимости между количеством детей и возвратом кредита в срок мы не наблюдаем.

### Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [25]:
# применим функцию category_grouped, сгруппировав клиентов по семейному статусу
category_grouped(data, 'family_status', 'debt')

                        debt      debt_share
                       count  sum
family_status
Не женат / не замужем   2796  273   9.763948
в разводе               1189   84   7.064760
вдовец / вдова           951   63   6.624606
гражданский брак        4134  385   9.313014
женат / замужем        12261  927   7.560558

**Вывод:**

Проанализировав таблицу, мы видим, что самый низкий процент задолженности по кредитам у вдов и вдовцов, а самый высокий - у неженатых/незамужних клиентов или клиентов, живущих в гражданском браке. При этом абсолютная разница между минимальным и максимальным значением отношения составляет всего 3.1 процентного пункта, что так же не говорит о значительной прямой зависимости между семейным положением и возвратом кредита в срок.

### Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [26]:
# применим функцию category_grouped, сгруппировав клиентов по уровню дохода
category_grouped(data, 'total_income_category', 'debt')

                        debt       debt_share
                       count   sum
total_income_category
A                         25     2   8.000000
B                       5014   354   7.060231
C                      15921  1353   8.498210
D                        349    21   6.017192
E                         22     2   9.090909

**Вывод:** 

Обращаем внимание на то, что выборка несбалансирована, так как в категориях "A", "D", "E" количество выданных кредитов слишком мало по сравнению с общей выборкой, поэтому мы можем сравнивать только самые многочисленные выборки "B" и "C". 

Проанализировав две этих группы, мы видим, что клиенты с доходом от 200.001р. - 1.000.000р. имеют меньший процент задолженности по кредитам, чем клиенты с доходом от 50.001–200.000р. Таким образом, делаем вывод о том, что очевидно клиенты из категории "B" являются более платежеспособными.

### Как разные цели кредита влияют на его возврат в срок?

In [27]:
# применим функцию category_grouped, сгруппировав клиентов по целям кредита
category_grouped(data, 'purpose_category', 'debt')

                           debt      debt_share
                          count  sum
purpose_category
операции с автомобилем     4279  400   9.347978
операции с недвижимостью  10751  780   7.255139
получение образования      3988  369   9.252758
проведение свадьбы         2313  183   7.911803

**Вывод:** 

В данном случае клиенты, оформляющие кредиты для операций с недвижимостью или на проведение свадьбы имеют меньший процент задолженности по ним, чем клиенты, которые оформляют кредит на операции с автомобилем или получение образования. Разница составляет примерно 2 процентных пункта, поэтому мы можем говорить о незначительной зависимости между целями кредита и его возвратом в срок.

### Шаг 4: общий вывод.

Мы провели исследование и составили портрет идеального клиента для оформления кредита:

1. без детей,
2. вдова/вдовец,
3. ежемесячный доход 200.001р. - 1.000.000р.,
4. цель кредита - на проведение свадьбы или операции с недвижимостью.

Однако мы бы хотели обратить внимание на то, что разница между минимальным и максимальным соотношениями между задолженностью по кредитам и общим количеством выданных кредитов во всех исследуемых случаях составляла около трех процентных пунктов. Это говорит о том, что значительной зависимости между количеством детей, семейным статусом, уровнем ежемесячного дохода, целью кредита и задолженности по нему не было обнаружено.

Так как далеко не каждый потенциальный клиент банка подходит под все критерии идеального, мы рекомендуем рассматривать каждый случай индивидуально и учитывать все вышеперечисленные факторы и риски для оценки потенциальной платежеспособности клиента.